<div class="ui blue segment">
    <form class="ui form" action="" method="post">
        <div class="ui message">
            <div class="header">Ajout d'une Organisation</div>
        </div>

        <div class="field">
            <label>Nom</label>
            <input type="text" placeholder="Nom" id="name" name="name" value="{{byId.name}}">
        </div>

        <div class="field">
            <label>Domaine</label>
            <input type="text" placeholder="Domaine" id="domain" name="domain" value="{{byId.domain}}">
        </div>

        <div class="field">
            <label>Alias</label>
            <input type="text" placeholder="Alias" id="aliases" name="aliases" value="{{byId.aliases}}">
        </div>

        <button class="ui button" type="submit">Valider</button>
    </form>
</div>

