{%  extends "OrgaController/index.html" %}
{% block menu %}
    {{parent ()}}
{% endblock %}

{% block header %}
<a href="{{ path('orga.index') }}" data-target="body"  class="ui basic inverted button">
    <i class="factory icon"></i>Organisations
</a>
{% endblock %}

{% block body %}
<ul>
    <li>{{orga.name}}</li>
</ul>
<h3>Utilisateurs :</h3>
<ul>
    {% for user in orga.users %}
        <li>{{user}}</li>
    {% endfor %}
</ul>

<h3>Groupes :</h3>
<ul>
    {% for groupe in orga.groupes %}
        <li>{{groupe}}</li>
    {% endfor %}
</ul>

{% endblock %}
