{%  extends "OrgaController/base.html" %}
{% block menu %}
{% endblock %}

{% block header %}
<a href="{{ path('orga.index') }}" data-target="body"  class="ui basic inverted button">
    <i class="factory icon"></i>Organisations
</a>
{% endblock %}

{% block body %}
    {% for orga in all %}
        <div class="ui grid">
            <div class="two column row">
                <div class="left floated column">
                    <a href="{{path('orga.getOne',[orga.id])}}">{{orga.name}}</a>
                </div>
                <div class="right floated column">
                    <a href="{{path('orga.update',[orga.id])}}"><i class="edit icon"></i></a>
                    <a href="{{path('orga.delete',[orga.id])}}"><i class="delete icon red"></i></a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
