{% extends "@framework/auth/index.html" %}
{% block _before %}
{{parent()}}
{% endblock %}
{% block _form %}
	{{parent()}}
{% endblock %}
{% block _header %}
<h4 class="ui header inverted dividing">Connexion</h4>
{% endblock %}
{% block _fields %}
	{{parent()}}
{% endblock %}
{% block _fieldLogin %}
{{parent()}}
{% endblock %}
{% block _login %}
	{{ parent() }}
{% endblock %}
{% block _fieldPassword %}
<div class="field required">
	<label for="password">Mot de passe</label>
	<div class="ui input">
		<input id="password" name="password" type="password">
	</div>
</div>
{% endblock %}
{% block _password %}
	{{ parent() }}
{% endblock %}
{% block _extraFields %}
	{{ parent() }}
{% endblock %}
{% block _fieldRemember %}
	{{ parent() }}
{% endblock %}
{% block _recoveryLink %}
	{{ parent() }}
{% endblock %}
{% block _buttons %}
	{{ parent() }}
{% endblock %}
{% block _accountCreation %}
	{{ parent() }}
{% endblock %}
{% block _after %}
{{parent()}}
{% endblock %}
{% block _script %}
	{{ parent() }}
{% endblock %}
